@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_QLBHLayout.cshtml";
}

<div class="container" style="padding:50px 0 50px 0;">
    <div class="row clearfix">
        <div class="col-md-12">
            <span style="font-weight:bold">
                Thân chào các bạn!<br/>

                Lời đầu cho tôi được gởi lời chúc sức khỏe và thật nhiều niềm vui trong cuộc sống.<br />

                Như chúng ta đã biết vấn đề an toàn vệ sinh thực phẩm, hàng giả, hàng kém chất lượng, hàng Trung Quốc... đang tàng ngập trên thị trường đặc biệt là khu vực TP.HCM và các tỉnh Miền Tây. Bằng những thủ đoạn tinh vi và lợi nhuận trước mắt của người kinh doanh,... Đây là những hình ảnh quen thuộc trong thực tế cuộc sống. Khi xã hội bất cứ nơi đâu cũng là thịt bẩn, rau nhiễm hóa chất, chè đầy hóa học… Chúng ta đang giết nhau, bạn và những người thân trong gia đình luôn đối mặt với chúng từng ngày???<br />

                "Người có sức khỏe có một trăm ước muốn, người không có sức khỏe chỉ có một ước muốn duy nhất đó là sức khỏe".<br />

                Cứ 10 cửa hàng thực phẩm sạch mở cửa thì có tới hơn một nửa phải đóng cửa. Nguyên nhân là do thói quen của người dân vẫn thường mua thực phẩm tại chợ. Giá cả thực phẩm tại cửa hàng cao, không cạnh tranh được với thực phẩm trôi nổi.<br />

                Trách nhiệm bảo vệ và đem đến sự yên tâm cho người tiêu dùng, chúng tôi - những người quyết tâm thành lập nên kênh phân phối trái cây sạch với những cam kết<br />

                1. Hàng Có Nguồn Gốc Xuất Xứ, Giấy Chứng Nhận rõ Ràng.<br />

                2. Hàng Tươi Ngon Tự Nhiên - Không Hóa Chất - Chất Bảo Quản.<br />

                3. Cân đủ KG - Giao Đúng Hàng.<br />

                4. Hoàn Tiền 100% Nếu Sản Phẩm Không Đúng Chất lượng.<br />

                5. Giao Hàng Tận Nơi.<br />
            </span>
        </div>
    </div>
</div>
